<main role="main" class="container">
          <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 mt-8 font-italic border-bottom"></h3>
            <div class="blog-post">
              <h2 class="blog-post-title">About</h2>
              <hr>
  
              <p>This site contains a database for cocktails taken from open-source information around the web</p>
              <hr>
              <p>This site is a personal project made to increase the accessability of cocktail brewing to the community.</p>
              <p>All of the cocktails presented here have been taken from open-source information accross the web.</p>
              <br><hr>
              <h2>Ingredient Browser</h2>
              <p>The main ability of this site is the 'Ingredient Browser'.</p>
              <p>This tool allows the user to select which ingredients he has at his disposal and presents a list of available to make cocktails or cocktails which require some additional ingredients.</p>
              <p>The ingredients the user can pick are only ingredients which corrolate to the cocktails in the database and so some ingredients which you have at home will probably be missing</p>
              <p><b>Remeber: </b>some liquers will be defined by type (for example: "Cacao Créme liqueur") and not a certain brand. Check to see if your liquer is written in a different format.</p>
              <br><hr>
              <h3>Copy-Right</h3>
              <p>All rights of this website are reserved under my name only. Any attempt to copy this website is illegal under Israel copyright law. </p>
              <p>If you have any inquiry about this website please contact me from the contact tab in the header (to be implemented soon). </p>
              <p>© 2022, Yuval Rosiner, All rights reserved </p>
            </div><!-- /.blog-post -->
  
      </main>