<div class="row">
    <div class="column">
        <div class="wow fadeIn">
            <div class="card border-0 shadow">
                <div class="text-center"><h1>Main Distillers</h1></div>
                <div class="card-body p-1-9 p-xl-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Vodka" onclick="checkAll();"/>
                        <label class="form-check-label" for="Vodka">Vodka</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Gin" onclick="checkAll();" />
                        <label class="form-check-label" for="Gin">Gin</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Rum" onclick="checkAll();"/>
                        <label class="form-check-label" for="Rum">Rum</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Tequila" onclick="checkAll();"/>
                        <label class="form-check-label" for="Tequila">Tequila</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Whiskey" onclick="checkAll();"/>
                        <label class="form-check-label" for="Whiskey">Whiskey</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Cognac" onclick="checkAll();"/>
                        <label class="form-check-label" for="Cognac">Cognac</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkAll() { 
            var inputs = document.querySelectorAll('.form-check-input');
            var distiller_list = [] 
            for (var i = 0; i < inputs.length; i++) {   
                if (inputs[i].checked == true) {
                    distiller_list.push(inputs[i].id);
                }
            }
            showResults(distiller_list)
        }
    </script>
    
    <div class="column">
      <h2>Column</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
    </div>
    
    <div class="column">
        <div class="wow fadeIn">
            <div class="card border-0 shadow">
                <div class="text-center"><h1>Available Cocktails</h1></div>
                <div class="card-body">
                    <div class="card shadow mb-4">
                        <div class="card-body p-2">
                            <div id="available_cocktails">
                                <ul>
                                    <script>
                                        
                                    </script>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script src="/js/scripts.js"></script>



